.btn-nav-back {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 30px;
}

.btn-nav-back img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 960px) {

  .btn-back-home {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
  }
  
  .btn-back-home img {
    width: 20px;
    height: 20px;
  }

  .imgs-container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* padding: 100px 0px 0px; */
    box-sizing: border-box;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  ::-webkit-scrollbar { 
    display: none; 
  }

  .container:after {
    content: " ";
    display: block;
    height: 1px;
    flex: 0 0 200px;
  }

  .photo {
    width: auto;
    height: 306px;
    display: inline-block;
    margin: 0px 0px 0px 200px;
    border: 1px solid #000;
    box-sizing: border-box;
  }

  .photo:after {
    /* content: " ";
    display: inline-block;
    
    width: 200px;
    height: 1px; */
  }

  .photo:last-child {
    margin-right: 200px;
  }

  .imgs-container:after {
    content: "a";
    display: inline-block;
    width: 1px;
    height: 1px;
    /* margin-left: 200px; */
  }

  /* .imgs-container .last-space {
    width: 200px;
    height: 1px;
  } */
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding-top: 150px;
  }
  .photo {
    width: 300px;
    display: inline-block;
    margin: 0px auto 150px;
  }
}