/* .container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 100px 30px 0px;
  box-sizing: border-box;
  align-items: flex-end;
  width: 100%
}

.photo {
  width: 400px;
  display: inline-block;
  margin: 0px 30px;
} */
.btn-nav-back {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 900px) {
  .container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 100px 0px 0px;
    box-sizing: border-box;
    align-items: flex-end;
    width: 100%;
  }

  ::-webkit-scrollbar { 
    display: none; 
  }

  .container:after {
    content: " ";
    display: block;
    height: 1px;
    flex: 0 0 200px;
  }

  .photo {
    width: 400px;
    display: inline-block;
    margin: 0px 0px 0px 200px;
  }

  .photo:after {
    content: " ";
    display: inline-block;
    
    width: 200px;
    height: 1px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding-top: 150px;
  }
  .photo {
    width: 300px;
    display: inline-block;
    margin: 0px auto 150px;
  }
}