.gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding: 110px 0 0;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}

.btn-nav-back {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 30px;
  left: 30px;
  background-color: #fff;
}

.btn-nav-back img {
  width: 20px;
  height: 20px;
}

/* @media only screen and (min-width: 1200px) {
  .gallery-list {
    width: 1200px;
  }
} */

.gallery-list h2 {
  font-weight: 300;
  font-size: 12px;
}

@media only screen and (min-width: 960px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    padding: 110px 0 0;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    width: 925px;
  }

  .gallery {
    width: 220px;
    margin: 0px 0px 60px;
    box-sizing: border-box;
  }

  .cover {
    border: 1px solid #000;
    width: 220px;
    height: 148px;
    object-fit: cover;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 600px ) and (max-width: 960px) {
  .gallery-list {
    width: 470px;
    display: flex;
    flex-wrap: wrap;
    padding: 110px 0 0;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
  }

  /* .gallery-list h2 {
    margin: 0;
  } */

  .gallery {
    width: 220px;
    margin: 0px 0px 60px;
    box-sizing: border-box;
  }

  .gallery-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .cover {
    border: 1px solid #000;
    width: 220px;
    height: 148px;
    object-fit: cover;
    box-sizing: border-box;
    /* margin-right: 15px; */
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .gallery-list {
    width: 300px;
  }

  .gallery {
    width: 100%;
    margin: 0px 0px 60px;
    box-sizing: border-box;
  }
  
  .cover {
    border: 1px solid #000;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
  }
}