.gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding: 110px 0 0;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 auto;
}

.gallery-list h2 {
  font-weight: 300;
  font-size: 12px;
}

.gallery {
  width: 270px;
  margin: 0px 15px 60px;
  box-sizing: border-box;
}
.cover {
  border: 1px solid #000;
}

.btn-nav-back {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1200px) {
  .gallery-list {
    width: 1200px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .gallery-list {
    width: 900px;
  }
}

@media only screen and (min-width: 600px ) and (max-width: 900px) {
  .gallery-list {
    width: 600px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .gallery-list {
    width: 300px;
  }
}